* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100vw;
    background-position: center;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 30px;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;

}
nav .las {
    display: none;
}
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .las {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul {
        padding: 30px;

    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    background: transparent;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    .input-box label {
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translateY(-50%);
        font-size: 1em;
        color: #162938;
        font-weight: 500;
        pointer-events: none;
    }

}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.btn:hover{
    background: #162938;
    transition: .5s;
}
.btn a {
    text-decoration: none;
    color: white;
}

